@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend+Deca&display=swap');

//    font-family: 'Inter', sans-serif;

// font-family: 'Lexend Deca', sans-serif;


// colors

$primary: #574ae8;

$grey-light: #f3f5f7;

$white:#fff;


// colors fonts 

$title-color: #313131;
$p-color: #b6b6b6;


// gradient

$gradi-color-start: #574ae8;
$gradi-color-end:#3ea1db;

$gradicolors: $gradi-color-start , $gradi-color-end;
$direction: 125deg;


@mixin gradient($direction, $gradicolors) { 
    background: -webkit-linear-gradient($direction, $gradicolors);
    background: -moz-linear-gradient($direction, $gradicolors);
    background: -o-linear-gradient($direction, $gradicolors);
    background: linear-gradient($direction, $gradicolors);  
  }




//background: rgb(87,74,232);
//background: linear-gradient(125deg, rgba(87,74,232,1) 0%, rgba(62,161,219,1) 100%);